@use 'variables';

body {
  font-weight: 700;
  color: variables.$font-primary;
  font-family: 'Circe', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section-title + .section-caption,
.section-caption + .section-title {
  margin-top: 12px;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  &_narrow {
    max-width: 1160px;
  }
}

.button {
  border-radius: 100px;
  padding: 12px 50px 10px;
  color: #2b2b2b;
  border: none;
  outline: none;
  text-transform: uppercase;
  transition: 0.3s;
  font-weight: 700;
  font-family: 'Circe';
  cursor: pointer;
  min-height: 50px;
  line-height: 1.2;
  svg {
    fill: currentColor;
  }
  &_yellow {
    background-color: variables.$yellow;
    @media (hover: hover) {
      &:hover {
        background-color: variables.$font-primary;
        color: #fff;
      }
    }
  }
  &_purple {
    background-color: variables.$purple;
    color: #fff;
    @media (hover: hover) {
      &:hover {
        background-color: variables.$font-primary;
        color: #fff;
      }
    }
  }
  &_trans-yellow {
    border: 2px solid variables.$yellow;
    background-color: transparent;
    color: currentColor;
    @media (hover: hover) {
      &:hover {
        background-color: variables.$yellow;
        color: variables.$font-primary;
      }
    }
  }
  &_trans-purple {
    border: 2px solid variables.$purple;
    background-color: transparent;
    color: variables.$purple;
    @media (hover: hover) {
      &:hover {
        background-color: variables.$purple;
        color: #fff;
      }
    }
  }
  &_flat {
    padding: 0;
    border: none;
    min-height: 0;
    background: none;
    text-transform: none;
  }
  &.disabled,
  &[disabled] {
    background-color: variables.$font-light;
    border-color: variables.$font-light;
    color: #fff;
    cursor: auto;
  }
}

.title {
  &-1 {
    font-size: 42px;
    line-height: 52px;
  }
  &-2 {
    font-size: 36px;
    line-height: 46px;
    @media (max-width: variables.$sm) {
      font-size: 28px;
      line-height: 1.3;
    }
  }
  &-3 {
    font-size: 30px;
    line-height: 38px;
  }
}

.subtitle {
  &-1 {
    font-size: 24px;
  }
  &-2 {
    font-size: 20px;
  }
  &-3 {
    font-size: 18px;
  }
}

.text {
  font-size: 16px;
  font-weight: 400;
  &-sm {
    font-size: 14px;
  }
}

.link {
  color: variables.$purple;
  text-decoration-line: underline;
  text-underline-offset: 4px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-flex;
  align-items: center;
  @media (hover: hover) {
    &:hover {
      opacity: 0.9;
      text-decoration: none;
    }
  }
}

.list-brand {
  display: grid;
  gap: 8px;
  &__item {
    position: relative;
    padding-left: 14px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 10px;
      width: 4px;
      height: 4px;
      background-color: variables.$purple;
      border-radius: 100px;
    }
    .list-brand_yellow &:before {
      background-color: variables.$yellow;
    }
  }
}
