@use 'variables';

.fw-bold {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.flex {
  display: flex;
  &-center {
    @extend .flex;
    @extend .align-center;
    @extend .justify-center;
  }
  &-between {
    @extend .flex;
    @extend .align-center;
    @extend .justify-between;
  }
}

.align {
  &-start {
    align-items: start;
  }
  &-center {
    align-items: center;
  }
  &-end {
    align-items: end;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
  &-end {
    justify-content: end;
  }
}

.color {
  &-purple {
    color: variables.$purple;
  }
  &-yellow {
    color: variables.$yellow;
  }
  &-primary {
    color: variables.$font-primary;
  }
  &-secondary {
    color: variables.$font-secondary;
  }
  &-white {
    color: #fff;
  }
  &-violet {
    color: variables.$violet;
  }
}

.bg {
  &-purple {
    background-color: variables.$purple;
    &_light {
      background-color: variables.$bg--purple-light;
    }
    &_dark {
      background-color: variables.$bg--purple-dark;
      color: #fff;
    }
  }
  &-white {
    background-color: #fff;
  }
}

.bg {
  &--purple {
    background-color: variables.$purple;
    &-light {
      background-color: variables.$bg--purple-light;
    }
    &-dark {
      background-color: variables.$bg--purple-dark;
      color: #fff;
    }
  }
  &--white {
    background-color: #fff;
  }
  &--violet {
    background-color: variables.$violet;
    color: #fff;
  }
  &--yellow {
    background-color: variables.$yellow;
  }
  &--gradient {
    background: variables.$gradient-dark;
    color: #fff;
    &-light {
      background: variables.$gradient-light;
      &_smooth {
        background: variables.$gradient-light-smooth;
      }
    }
  }
}

.border {
  border: 1px solid variables.$border;
}

.lh {
  &-15 {
    line-height: 1.5;
  }
  &-0 {
    line-height: 0;
  }
  &-1 {
    line-height: 1;
  }
}

.transition {
  transition: 0.3s;
}

.border-decor {
  background-image: linear-gradient(
    to right,
    #c4c2de 20%,
    rgba(196, 194, 222, 0) 0%
  );
  background-size: 6px 1px;
  background-repeat: repeat-x;
  &_bottom {
    @extend .border-decor;
    background-position: bottom;
  }
  &_top {
    @extend .border-decor;
    background-position: top;
  }
}
