$dark: #00121f;
$green-dark: #234350;
$green-medium: darkcyan;
$green-light: lightseagreen;
$pink: lightpink;

$font-primary: #393939;
$font-secondary: #545454;
$font-light: #a6a6a6;

$border: #c4c2de;

$bg--purple-light: #f3f1f7;
$bg--purple-dark: #4d3a98;

$gold: #eabd44;
$yellow: #e3aa10;
$purple: #5c51a5;
$violet: #4b4667;

$gradient-dark: linear-gradient(92deg, #5a44b1 14.07%, #4f3b9b 28.61%);
$gradient-light: linear-gradient(
  180deg,
  rgba(92, 81, 165, 0.08) 0%,
  rgba(92, 81, 165, 0.24) 100%
);
$gradient-light-smooth: linear-gradient(
  180deg,
  rgba(92, 81, 165, 0) 0%,
  rgba(92, 81, 165, 0.16) 100%
);

$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 520px;

@mixin w768 {
  @media (max-width: $sm) {
    @content;
  }
}
